@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,400;1,200&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&family=UnifrakturCook&display=swap');
@import url('/animation.css');

@keyframes zoom{
    from{
        transform:scale(0.5);
        opacity: 0.0;
    }
    to{
        transform:scale(1);
        opacity: 1;
    }
}

@keyframes right {
    from{
        transform:translate(-100px);
        opacity: 0.0;
    }
    to{
        transform:translate(0);
        opacity: 1;
    }
}

@keyframes left {
    from{
        transform:translate(100px);
        opacity: 0.0;
    }
    to{
        transform:translate(0);
        opacity: 1;
    }
}

@keyframes top {
    from{
        transform:translate(0px,100px);
        opacity: 0.0;
    }
    to{
        transform:translate(0px,0px);
        opacity: 1;
    }
}


@keyframes down {
    from{
        transform:translate(0px,-100px);
        opacity: 0.0;
    }
    to{
        transform:translate(0px,0px);
        opacity: 1;
    }
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: block;
    scroll-padding-top: 70px;
}

.block{         
    margin-top: 150px;
    height: 800px;
    background-size: cover;
    background-repeat: 0;
    display: block; 
    position: relative;
    
}

.title{
    /* font-family:  'Roboto', sans-serif; */
    font-family: montserrat;
    font-size: 46px;
    margin-left: 10px;
    animation: zoom 2s ease-in-out;
}
h2{
    font-family: montserrat;
    font-size: 36px;
    animation: right 1s ease-in-out 1s;
    animation-fill-mode: backwards;
}
p{
    font-family: montserrat;
    text-align: center;
    font-size: 22px;
}
.myname{
    font-family:  'Roboto', sans-serif;
    color: #241D71;
}
.redframe{
    position: relative;
    display: inline-block;
    /* border: solid pink 5px ; */
    width: 50%;
    vertical-align:top
}
.yellowframe{
    position: relative;
    display: block;
    padding: 30px;
    animation: down 2s ease-in-out backwards;
    /* border: solid rgb(188, 208, 86) 5px ; */
}
.yellowframe-p{
    font-size: 36px;
}
.knopka{
    font-family: montserrat;
    text-align: center;
background-color: #5C51DE;
color: aliceblue;
border-radius: 50px;
font-size: 36px;
font-weight: bold;
margin: 50px 200px 50px 200px;
padding: 10px;
border: none;
cursor: pointer;
}
.github{
    height: 70px;
    weight: 273px;
    display: block;
    position: relative;
}
.telegramm{
    display: inline-block;
    position: relative;
    weight: 76px ;
    height: 73px;
    margin-top: 10px;
    vertical-align:middle;
}
.telega{
    font-family: montserrat;
    font-size: 32px; 
    display:inline-block;
    vertical-align:middle;
    margin-left: 10px;
}
.purpleframe{
    display: block;
    position: relative;
    /* border: solid plum 5px ; */
    
    margin-top: 10px;
}
.foto>img{
 border-radius: 20px;
 height: 400px;
 weight: 500px;
 display: inline-block;
 margin-top: 50px;
 margin-left: 30px;
 border: solid 5px black;
}
.lol{
    position: relative;
    display: inline-block;
    /* border: solid pink 5px ; */
    width: 48%;
    height: 100%;
    vertical-align:top;
    animation: zoom 2s ease-in-out;

}
.triengle{
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.block2{         
    height: 600px;
    background-size: cover;
    background-repeat: 0;
    display: block; 
    position: relative;
}
.blackframe2{
    display: block;
    position: relative;
    margin-top: 0;
    margin-left: 50px;
    font-size: 40px;
    font-family: montserrat;
    text-align: center;
}
.imageaboutme{
   display: inline-block;
   position: relative;
   height: 95%; 
   weight: 410px;
   border: 5px solid red
}
.time{
   weight: 191px;
   height: 195px;
   display: block;
   position: relative;
   padding: 10px;
   margin: 10px 20px 10px 20px;
}
.textaboutmyachievements{
    display: block;
    position: relative;
    font-family: montserrat; 
    font-size: 46px;
    vertical-align:top
}
/* .blackframe2{
    display: block;
} */
.xframe{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.perpleframe2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}
.imageaboutme{
    display: block;
}
.textaboutmyachievements{
    display: block;
    font-size: 36px;
}
/* .fonframe2{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top:0 ;
    margin-left: 0;
} */
.title2{
    font-family:montserrat ;
    font-size: 46px;
    /* margin-left: 10px;  */
    font-weight: bold;
    color: #241D71;
    text-align: center;
}
.red-frame3{
position: relative;
}
.perple-3frame{
    position: relative;
    display: block;
    padding: 30px;
}
.yellow-3frame{
position: relative;
 display: inline-block;
 /* border: solid pink 5px ; */
 width: 50%;
vertical-align:top
}
.yellowframe-p1{
    font-size: 36px;
}
.myworks{
display: block;
position: relative;
margin-top: 0;
margin-left: 50px;
font-size: 100px;
bottom: 5px;
text-align: center;
font-family: montserrat;
color:aliceblue;
font-weight: 700;
}
.thefirst{
    color:#43CF7B;
    font-weight: 900;
}
.jopa{
    font-size: 36px;
    font-weight: bold;
    color: aliceblue;  
}
.block4{
    height: 1000px;
    background-size: cover;
    background-repeat: 0;
    display: block; 
    position: relative;
    background-color: #12658E; 
}
.triengle1{
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
    position: absolute;
}
.block3{
    position: relative;
    height: 800px;
}
.blue{
 position:absolute;

}
.xlupic{
    position: relative;
    width: 300px;
height: 500px;
border: 50px solid #729EF3;
border-radius: 60px;
background-color: #c4c4c4;
display:inline-block ;

}
.xlupic>.blue{
    width: 300px;

}
.xframe2{
    display: flex;
    justify-content: space-around;
}
.place{
font-family: montserrat;
font-style: normal;
font-weight: 1000;
font-size: 48px;
line-height: 63px;
text-align: center;
color: #000000;
}
.triengle11{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
}
.h11{
    margin: 0;
    animation: down 2s ease-in backwards;
}

.menu{
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: fixed;
    height: 70px;
    background: linear-gradient(89.98deg, #241D71 0.01%, rgba(41, 204, 226, 0.0697918) 91.36%, rgba(125, 119, 194, 0) 103.67%);

    z-index: 999;
}
.menu>a{
    font-size: 30px;
    margin-left: 60px;
    font-family: 'Montserrat';
    text-decoration: underline;
    color: white;
    vertical-align:middle;
    cursor: pointer;
}
.k15{
    margin-left: 30px;
    width: 61px;
height: 65px;
top: 0px;
z-index: 1000;
display: inline-block;
vertical-align: middle;
}
h3{
    font-family: 'Quantico', sans-serif;
    font-size: 50px;
z-index: 1001;
display: inline-block;
vertical-align:middle;
margin:0    ;
color: white;
vertical-align: middle;

}
.block41{
    height: 550px;
    background-size: cover;
    background-repeat: 0;
    display: block; 
    position: relative;
    background-color: none;
}
.myworks{
    display: block;
    position: relative;
    margin-top: 0;
    margin-left: 50px;
    font-size: 100px;
    bottom: 5px;
    text-align: center;
    font-family: montserrat;
    color:aliceblue;
    font-weight: 700;
}
.triengle12{
    width: 100%;
    height: 100px;
 position: absolute;
 top: 0;
 left: 0;
}
.forma{
    width: 45%;
    margin-left: 5%;
    display: inline-block;
}
.form-input{
    width: 100%;
    display: block;
    height: 45px;
    background: transparent;
    border: 3px solid #12658E;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 19px;
}
.form-button{
    font-family: montserrat;
    vertical-align: top;
    text-align: center;
background-color: #5C51DE;
color: aliceblue;
border-radius: 50px;
font-size: 25px;
font-weight: bold;
padding: 10px;
border: none;
width: 50%;
cursor: pointer;
}
.final-picture{
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-left: 10%;
}
.logo-title{
    cursor: pointer; color:white; text-decoration:none;
}

.logo-title:hover{
    color:#4800ff !important;
}